<script setup lang="ts">
import { Product } from "~/home/dtos/Product.dto";

interface VCardItemProductProps {
  product: Product;
}

defineProps<VCardItemProductProps>();
</script>
<template>
  <v-card :height="300">
    <img
      class="cursor-pointer h-[150px] w-full object-cover hover:transform hover:scale-105 transition duration-500 ease-in-out"
      :src="product.thumbnail"
      alt=""
      loading="lazy"
    />
    <v-card-item>
      <v-row no-gutters>
        <v-col cols="8">
          <h4
            class="text-[18px] product_ellipsis cursor-pointer hover:text-[#681ecb] transition duration-500 ease-in-out"
          >
            {{ product.title }}
          </h4>
        </v-col>
        <v-col cols="4">
          <h4 class="text-[18px] text-right text-[#681ecb]">
            {{ product.price }}$
          </h4>
        </v-col>
      </v-row>
      <v-row no-gutters>
        <v-col
          ><p class="text-[13px] text-[#7f7e7e] product_ellipsis">
            {{ product.description }}
          </p></v-col
        >
      </v-row>
      <v-row no-gutters>
        <v-col class="mt-2 flex align-center">
          Rate: {{ product.rating }}
          <VIcon class-icon="text-[#ebe700] ml-1" icon="mdi-star"
        /></v-col>
      </v-row>
    </v-card-item>
  </v-card>
</template>

<style lang="scss">
.product_ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}
</style>
