<script setup lang="ts">
interface VTextFieldProps {
  clearable?: boolean;
  prependIcon?: string;
  label?: string;
  placeholder?: string;
  variant?: "filled" | "outlined" | "underlined" | "solo";
  prependInnerIcon?: string;
  classVTextField?: string;
  autofocus?: boolean;
  defaultValue?: string;
}

const props = withDefaults(defineProps<VTextFieldProps>(), {
  variant: "filled",
});

const { defaultValue } = toRefs(props);

const emit = defineEmits(["value"]);
const valueInput = ref("");

watch(
  () => valueInput.value,
  () => {
    emit("value", valueInput.value);
  }
);

watch(
  () => defaultValue?.value,
  (value) => {
    if (value) {
      valueInput.value = value;
    }
  },
  { immediate: true }
);
</script>
<template>
  <v-text-field
    :autofocus="autofocus"
    :class="classVTextField"
    :clearable="clearable"
    :prepend-icon="prependIcon"
    :label="label"
    :placeholder="placeholder"
    :variant="variant"
    :prepend-inner-icon="prependInnerIcon"
    v-model="valueInput"
    hide-details="auto"
  ></v-text-field>
</template>
