@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  font-family: "Kanit", sans-serif;
}

body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.v-field__field {
  input {
    padding-left: 10px !important;
    &:focus {
      box-shadow: none !important;
    }
  }
}