<script setup lang="ts">
import { useForm } from "vee-validate";
import { Product } from "~/home/dtos/Product.dto";
import debounce from "lodash.debounce";
import { useProduct } from "~/home/stores/Product";
import { storeToRefs } from "pinia";
import { vuetifyConfig } from "~/common/modules/Vuetify";
const VCardItemProduct = defineAsyncComponent(
  () => import("~/common/components/molecules/VCardItemProduct.vue")
);
interface VCardItemProductProps {
  products: Product[];
}
defineProps<VCardItemProductProps>();

const isLoadingSearch = ref(false);
const useProductStore = useProduct();
const { productsSearch, nameProductSearch } = storeToRefs(useProductStore);
const form = useForm({
  initialValues: {
    name: "",
  },
});

const { defineField, values } = form;

const searchNameProduct = debounce(async () => {
  isLoadingSearch.value = true;
  nameProductSearch.value = values.name;
  await useProductStore.searchProducts();
  isLoadingSearch.value = false;
}, 800);

watch(
  () => values.name,
  () => {
    searchNameProduct.cancel();
    searchNameProduct();
  }
);
const [name, nameProps] = defineField("name");
</script>
<template>
  <v-row>
    <v-col>
      <VTextField
        v-model="name"
        v-bind="nameProps"
        prepend-inner-icon="mdi-magnify"
        placeholder="Enter name product"
        variant="outlined"
        class-v-text-field="font-[400]"
    /></v-col>
  </v-row>
  <v-row>
    <v-col v-if="isLoadingSearch" class="flex justify-center align-center">
      <v-progress-circular indeterminate color="#681ecb" />
    </v-col>
    <v-col
      v-else
      cols="12"
      md="3"
      sm="6"
      v-for="product in nameProductSearch ? productsSearch : products"
      :key="product.id"
    >
      <VCardItemProduct :product="product" />
    </v-col>
    <v-col
      class="flex justify-center align-center mt-3 pointer-events-none"
      v-if="
        nameProductSearch && !isLoadingSearch && productsSearch.length === 0
      "
    >
      <img src="../../../assets/not_found.png" alt="" class="w-[50%]" />
    </v-col>
  </v-row>
</template>
