<script setup lang="ts">
import { storeToRefs } from "pinia";
import { useOverLoading } from "~/common/stores/OverLoading";

interface VOverLoadingProps {
  isLoading?: boolean;
}
const overLoadingStore = useOverLoading();
const { overLoading } = storeToRefs(overLoadingStore);
const props = defineProps<VOverLoadingProps>();
const { isLoading } = toRefs(props);
const isOpen = ref(false);

watch(
  () => isLoading.value,
  (value) => {
    isOpen.value = value;
  }
);

watch(
  () => overLoading.value,
  (value) => {
    isOpen.value = value;
  }
);
</script>
<template>
  <v-overlay
    v-model="isOpen"
    class="flex h-full w-full flex-1 items-center justify-center"
    persistent
  >
    <v-card class="flex-1 !bg-transparent !shadow-none">
      <VProgressCircular />
    </v-card>
  </v-overlay>
</template>
