<script setup lang="ts">
import { storeToRefs } from "pinia";
import { useProduct } from "../stores/Product";
import { useOverLoading } from "~/common/stores/OverLoading";
import throttle from "lodash.throttle";
const productStore = useProduct();
const overLoadingStore = useOverLoading();
const { overLoading } = storeToRefs(overLoadingStore);
const { products, totalProducts, nameProductSearch } =
  storeToRefs(productStore);
const isLoadMore = ref(false);

onMounted(async () => {
  productStore.resetProducts();
  const rateScreen = Math.ceil(document.body.offsetHeight / (5 * 312));
  overLoadingStore.openOverLoading();
  await productStore.getProducts(20 * rateScreen, 0);
  overLoadingStore.closeOverLoading();
  window.addEventListener("scroll", handleMoreProduct);
  window.addEventListener("resize", handleMoreProduct);
});

const handleMoreProduct = throttle(async () => {
  if (
    window.innerHeight + window.scrollY >= document.body.offsetHeight - 10 &&
    isLoadMore.value === false &&
    totalProducts.value > products.value.length &&
    !nameProductSearch.value
  ) {
    isLoadMore.value = true;
    nextTick(async () => {
      await productStore.getProducts(20, products.value.length);
      isLoadMore.value = false;
    });
  }
}, 600);
</script>
<template>
  <v-container>
    <v-row justify="center">
      <h2 class="text-[22px] tracking-[1px] text-[#681ecb]">
        List Product <span class="font-[300] text-[#000]">Infinite</span>
      </h2>
    </v-row>
    <VCardListProduct :products="products" v-if="!overLoading" />
    <v-row justify="center" v-if="isLoadMore">
      <v-progress-circular indeterminate color="#681ecb" />
    </v-row>
  </v-container>
</template>
<style lang="scss"></style>
<route lang="yaml">
meta:
  layout: Base
</route>
