<script setup lang="ts"></script>
<template>
  <VOverLoading />
  <v-layout class=" min-h-[100vh]">
    <v-app-bar :elevation="0" class="!bg-white" :height="63">
      <v-card class="flex items-center justify-center w-full">
        <v-card-text
          class="text-h6 !text-[30px] text-[#681ecb] text-center font-[800] !tracking-[1px] flex items-center justify-center gap-1"
        >
          <img src="../../assets/icon.jpg" class="w-[50px] h-[34px] pointer-events-none" alt="" />
          INFINITE</v-card-text
        >
      </v-card>
    </v-app-bar>

    <v-main class="d-flex justify-center w-full">
      <RouterView />
    </v-main>
  </v-layout>
</template>
